@import "../mixins.scss";
@import "../variables.scss";

.about-program__wrapper {
  padding: 20px 20px 49px;
}

br {
  display: none;
}

.about-program__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.about-program__title {
  @include font-oswald(36px, 40px);
  margin-bottom: 40px;
}

.about-program__description {
  @include font-arial(14px, 18px);
  min-height: 54px;
  display: flex;
  align-items: center;
  color: $color-tundora;
  position: relative;
}

.about-program__item {
  padding-left: 80px;
  position: relative;
  min-height: 60px;
}

.about-program__item--leaf-icon {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/about-program-icon/leaf-icon.svg") no-repeat center;
    background-size: 30px 32px;
    background-color: $color-apple;
  }
}

.about-program__item--tub-icon {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/about-program-icon/tub-icon.svg") no-repeat center;
    background-size: 29px 31px;
    background-color: $color-apple;
  }
}

.about-program__item--eat-icon {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/about-program-icon/eat-icon.svg") no-repeat center;
    background-size: 25px 30px;
    background-color: $color-apple;
  }
}

.about-program__item--alarm-icon {
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: url("../img/about-program-icon/alarm-icon.svg") no-repeat center;
    background-size: 32px 33px;
    background-color: $color-apple;
  }
}

@media (min-width: $tablet-width) {
  br {
    display: block;
  }

  .about-program__title {
    @include font-oswald(60px, 60px);
    margin-bottom: 82px;
  }

  .about-program__description {
    @include font-arial(16px, 24px);
  }

  .about-program__wrapper {
    padding: 45px 30px 47px;
  }

  .about-program__list {
    row-gap: 65px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    padding-right: 75px;
    justify-content: space-between;
    counter-reset: number 0;
  }

  .about-program__item {
    width: 249px;
    padding: 118px 0 56px 0;
    counter-increment: number;
    position: relative;

    &::after {
      @include font-oswald(280px, 210px);
      content: counter(number);
      position: absolute;
      top: 0;
      left: 47%;
      z-index: -1;
      color: $color-concrete;
    }
  }
}

@media (min-width: $dekstop-width) {
  .about-program__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 71px 0 69px;
  }

  .about-program__list {
    padding-right: 0;
    column-gap: 70px;
    row-gap: 37px;
  }
}
