@import "../mixins.scss";
@import "../variables.scss";

.additional-products__wrapper {
  padding: 27px 20px 35px;
}

.additional-products__title {
  @include font-oswald(24px, 24px);
  margin-bottom: 33px;
  position: relative;
  width: 260px;
  padding-right: 20px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 247px;
    width: 1000%;
    height: 2px;
    z-index: -1;
    background-color: $color-apple;
  }
}

.additional-products__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 35px;
}

.additional-products__item {
  width: 100%;
  padding: 13px 0 19px;
  border-top: 1px solid $color-silver;
}

.additional-products__item:last-child {
  border-bottom: 1px solid $color-silver;
}

@media (max-width: $mobile-width-only) {
  .additional-products {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -30px;
      width: 1000%;
      height: 1px;
      z-index: -1;
      background-color: $color-gallery-two;
    }
  }
}

@media (min-width: $tablet-width) {
  .additional-products__wrapper {
    padding: 72px 30px 76px;
  }

  .additional-products__item {
    padding: 26px 38px 24px;
    min-width: 708px;
  }

  .additional-products__title {
    @include font-oswald(36px, 36px);
    margin-bottom: 76px;
    padding-left: 36px;
    padding-right: 36px;
    width: 412px;
    background-color: $color-white;
  }

  .additional-products__list {
    margin-bottom: 69px;
  }
}

@media (min-width: $dekstop-width) {
  .additional-products__inner {
    display: grid;
    grid-template-columns: 896px 245px;
    column-gap: 79px;
  }

  .additional-products__list {
    margin-bottom: 0;
  }

  .additional-products__item {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 613px 244px;
    column-gap: 38px;
    align-items: center;
  }

  .additional-products__wrapper {
    padding: 82px 0 86px;
    max-width: 1220px;
    margin: 0 auto;
  }

  .additional-products__title {
    width: 414px;
    padding-right: 35px;
    padding-left: 40px;
    margin-left: -40px;
  }
}
