@import "../variables.scss";
@import "../mixins.scss";

.button {
  @include font-oswald(16px, 20px);
  text-transform: uppercase;
  text-align: center;
  color: $color-white;
  width: 280px;
  text-decoration: none;
  background-color: $color-apple;
  padding: 10px;
  display: block;
  border: none;
}
