.button {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  width: 280px;
  text-decoration: none;
  background-color: #68b738;
  padding: 7px 10px 7px 10px;
  display: block;
}
