@import "../variables.scss";
@import "../mixins.scss";

.card-foot {
  padding: 79px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-15px);
    background: url("../img/plus.svg") no-repeat center;
    width: 30px;
    height: 30px;
    background-size: contain;
  }
}

.card-foot__subtitle {
  @include font-oswald(16px, 20px);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.card-foot__text {
  @include font-arial(12px, 16px);
  color: $color-tundora;
  margin-bottom: 21px;
}

.card-foot__button {
  background-color: #f2f2f2;
  color: $color-tundora;
  border: none;
  width: 100%;
  margin-top: auto;
}

.card-foot__button:hover {
  background-color: $color-extra-gallery;
}

.card-foot__button:active {
  color: rgba($color-tundora, 0.3);
  background-color: $color-extra-gallery;
}

@media (max-width: $mobile-width-only) {
  .card-foot {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -30px;
      width: 1000%;
      height: 1px;
      z-index: -1;
      background-color: $color-extra-gallery;
    }
  }
}


@media (min-width: $tablet-width) {
  .card-foot {
    padding: 161px 39px 39px;
    border: 2px solid $color-concrete;
    max-width: 500px;
    max-height: 429px;

    &::before {
      content: "";
      width: 60px;
      height: 60px;
      transform: translateX(-30px);
    }
  }

  .card-foot--margin {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .card-foot__subtitle {
    @include font-oswald(20px, 22px);
    color: $color-cod-gray;
    max-width: 134px;
    text-align: center;
    margin-bottom: 23px;
  }

  .card-foot__text {
    @include font-arial(16px, 18px);
    max-width: 170px;
    text-align: center;
    margin-bottom: 87px;
    color: $color-tundora;
  }
}

@media (min-width: $dekstop-width) {
  .card-foot {
    width: 245px;
    padding: 161px 35px 39px;
  }
}
