@import "../mixins.scss";
@import "../variables.scss";

.catalog-promo {
  background: url("../img/catalog-cat/mobile-cat.jpg") no-repeat bottom;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog-cat/mobile-cat@2x.jpg");
  }
}

.catalog-promo__wrapper {
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
  padding: 188px 55px 45px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    top: 58px;
    left: 50%;
    transform: translateX(-40px);
    background: url("../img/gift-icon.svg") no-repeat center;
    background-size: 78px 80px;
  }
}

.catalog-promo__text {
  @include font-arial(16px, 20px);
  color: $color-white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog-promo {
    background: url("../img/catalog-cat/tablet-cat.jpg") no-repeat center;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-cat/tablet-cat@2x.jpg");
    }
  }

  .catalog-promo__text {
    text-align: left;
  }

  .catalog-promo__wrapper {
    padding: 71px 124px 69px 422px;

    &::after {
      content: "";
      top: 30%;
      left: 17%;
    }
  }
}

@media (min-width: $dekstop-width) {
  .catalog-promo__wrapper {
    padding: 184px 43px 42px 41px;

    &::after {
      content: "";
      top: 55px;
      left: 50%;
    }
  }

  .catalog-promo__text {
    text-align: center;
  }

  .catalog-promo {
    background: url("../img/catalog-cat/desktop-cat.jpg") no-repeat bottom;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-cat/desktop-cat@2x.jpg");
    }
  }
}
