@import "../mixins.scss";
@import "../variables.scss";

.catalog-promo {
  background: url("../img/cat-in-backpack.jpg") no-repeat bottom;
  background-size: cover;
}

.catalog-promo__wrapper {
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
  padding: 186px 60px 43px;
  position: relative;
}

.catalog-promo__gift-icon {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 58px;
  left: 50%;
  transform: translateX(-40px);
  background: url("../img/gift-icon.svg") no-repeat center;
  background-size: 78px 80px;
}

.catalog-promo__text {
  @include font-arial(14px, 18px);
  color: $color-white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .catalog-promo {
    background: url("../img/tablet-cat.jpg") no-repeat center;
    background-size: cover;
  }

  .catalog-promo__wrapper {
    padding: 71px 124px 69px 422px;
  }

  .catalog-promo__gift-icon {
    top: 58px;
    left: 15%;
  }
}

@media (min-width: $dekstop-width) {
  .catalog-promo__wrapper {
    padding: 184px 43px 42px 41px;
  }

  .catalog-promo {
    background: url("../img/cat-in-backpack.jpg") no-repeat bottom;
    background-size: cover;
  }

  .catalog-promo__gift-icon {
    top: 55px;
    left: 50%;
  }
}
