@import "../mixins.scss";
@import "../variables.scss";

.contacts__title {
  @include font-oswald(16px, 20px);
  min-width: 139px;
  color: $color-tundora;
  text-transform: uppercase;
}

.contacts__text {
  @include font-arial(14px, 20px);
  color: $color-tundora;
}

.contacts__text-city {
  @include font-arial(14px, 20px);
  color: $color-tundora;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    @include font-oswald(20px, 26px);
    max-width: 172px;
    color: $color-cod-gray;
  }

  .contacts__text {
    @include font-arial(16px, 20px);
    margin-bottom: 18px;
    text-align: end;
  }

  .contacts__text-city {
    @include font-arial(16px, 20px);
    text-align: end;
  }

  .contacts__box {
    max-width: 160px;
  }
}
