@import "../mixins.scss";
@import "../variables.scss";

.example-program {
  background-color: #eaeaea;
}

.example-program__prorgess {
  position: relative;
  height: 256px;
}

.example-program__image-before {
  position: absolute;
  left: 50%;
  transform: translateX(-155px);
  clip-path: inset(0 50% 0 0);
}

.example-program__image-after {
  position: absolute;
  clip-path: inset(0 0 0 50%);
  left: 50%;
  transform: translateX(-153px);
}

.example-program__button {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-35px) translateY(105px);
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: $color-white;
  border-radius: 50%;
  border: 2px solid $color-dov-gray;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 108px;
    background-color: $color-dov-gray;
  }

  &::before {
    transform: translateX(-2px) translateY(-38px);
    left: 50%;
    bottom: 0;
    border-radius: 2px 2px 0 0;
  }

  &::after {
    transform: translateX(2px) translateY(37px);
    right: 50%;
    top: 0;
    border-radius: 0 0 2px 2px;
  }
}

.example-program__button:hover {
  border-color: $color-apple;
}

.example-program__button:active {
  border-color: $color-apple;
  opacity: 0.6;
}

.example-program__button:hover::before,
.example-program__button:hover::after {
  background-color: $color-apple;
}

.example-program__button:active::before,
.example-program__button:active::after {
  background-color: $color-apple;
  opacity: 0.6;
}


.example-program__switch {
  fill: $color-dov-gray;
  vertical-align: middle;
}

.example-program__button:hover .example-program__switch {
  fill: $color-apple;
}

.example-program__wrapper {
  padding: 25px 20px 40px;
}

.example-program__title {
  @include font-oswald(36px, 40px);
  margin-bottom: 40px;
}

.example-program__description {
  @include font-arial(14px, 18px);
  color: $color-tundora;
  margin-bottom: 20px;
}

.example-program__calculation {
  @include font-oswald(14px, 20px);
  margin-bottom: 40px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.example-program__stats {
  margin: 0;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .example-program__prorgess {
    position: relative;
    height: 512px;
  }

  .example-program__image-before {
    transform: translateX(-295px);
    width: 560px;
    height: 512px;
  }

  .example-program__image-after {
    transform: translateX(-295px);
    width: 560px;
    height: 512px;
  }

  .example-program__button {
    top: 50%;
    transform: translateX(-36px) translateY(-20px);

    &::before {
      height: 236px;
    }

    &::after {
      height: 236px;
    }
  }

  .example-program {
    background: linear-gradient($color-white 60%, $color-gallery 60%);
  }

  .example-program__wrapper {
    padding: 43px 30px 100px;
  }

  .example-program__title {
    @include font-oswald(60px, 60px);
    margin-bottom: 63px;
  }

  .example-program__description {
    @include font-arial(16px, 24px);
    color: $color-tundora;
    margin-bottom: 54px;
  }

  .example-program__calculation {
    @include font-oswald(20px, 20px);
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 9px;
    max-width: 250px;
  }

  .example-program__calculation-value {
    margin: 0;
  }

  .example-program__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 106px;
  }

  .example-program__stats {
    margin: 0;
  }
}

@media (min-width: $dekstop-width) {
  .example-program {
    background: linear-gradient($color-white 20%, $color-concrete 20%);
  }

  .example-program__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 0 75px;
    display: flex;
    justify-content: space-between;
  }

  .example-program__prorgess {
    position: relative;
    height: 512px;
    width: 512px;
  }

  .example-program__title {
    margin-bottom: 146px;
  }

  .example-program__description {
    @include font-arial(16px, 24px);
    color: $color-tundora;
    margin-bottom: 69px;
  }

  .example-program__inner {
    max-width: 436px;
  }

  .example-program__stats {
    margin-bottom: 55px;
  }

  .example-program__calculation {
    @include font-oswald(20px, 20px);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 63px;
    max-width: 436px;
  }

  .example-program__box {
    margin: 0;
  }
}
