@import "../mixins.scss";
@import "../variables.scss";

.field {
  position: relative;
}

.field__label {
  @include font-oswald(16px, 18px);
  color: $color-tundora;
  white-space: nowrap;
  text-transform: uppercase;
}

.field__input {
  @include font-oswald(16px, 18px);
  color: $color-tundora;
  width: 100%;
  align-self: center;
  text-transform: uppercase;
  margin-left: 13px;
  padding: 13px 14px 13px;
  border: 1px solid $color-mercury;
}

.field__mail {
  right: 15px;
  position: absolute;
  background: url("../img/mail-icon.svg") no-repeat;
}


.field__phone {
  right: 13px;
  position: absolute;
  background: url("../img/phone-icon.svg") no-repeat;
}

@media (min-width: $tablet-width) {
  .field__input {
    @include font-oswald(20px, 30px);
    padding: 10px 18px 11px;
    margin-left: 13px;
  }

  .field__label {
    @include font-oswald(20px, 30px);
  }
}
