@import "../mixins.scss";
@import "../variables.scss";

.form-program {
  overflow-x: hidden;
}

.form-program__wrapper {
  padding: 0 20px 32px;
}

.form-program__header {
  padding: 27px 0 37px;
}

.form-program__title {
  @include font-oswald(36px, 36px);
}

.form-program__text {
  @include font-oswald(14px, 18px);
  text-transform: uppercase;
  margin-bottom: 14px;
}


@media (max-width: $mobile-width-only) {
  .form-program__header {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 1000%;
      height: 1px;
      z-index: -1;
      background-color: $color-alto;
    }
  }
}

@media (min-width: $tablet-width) {
  .form-program__title {
    @include font-oswald(60px, 60px);
  }

  .form-program__wrapper {
    padding: 0 30px 72px;
  }

  .form-program__header {
    padding: 64px 36px 54px 40px;
  }

  .form-program__order {
    padding: 0 36px 0 40px;
  }

  .form-program__text {
    @include font-oswald(20px, 30px);
    margin-bottom: 66px;
    max-width: 323px;
  }
}

@media (min-width: $dekstop-width) {
  .form-program__header {
    padding: 77px 0 56px;
  }

  .form-program__wrapper {
    padding: 0;
    max-width: 1220px;
    margin: 0 auto;
  }

  .form-program__order {
    padding: 0 0 82px;
  }
}
