@import "../variables.scss";

.main-header__wrapper {
  padding: 0 20px;
  position: relative;
}

.main-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 11px;
}

.main-header__logo-image {
  padding: 3px 0 0;
  box-sizing: content-box;
}

.main-header__logo-name {
  margin-left: -11px;
}

.main-header__logo-image:active {
  opacity: 0.6;
}

.main-header__toggle {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.main-header__wrapper--open .main-header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $color-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-header__wrapper--closed .main-header__toggle::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: $color-black;
  box-shadow: 0 8px 0 0 $color-black, 0 16px 0 0 $color-black;
}

.main-header__wrapper--nojs .main-header__toggle {
  display: none;
}

.main-header__wrapper--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

@media (max-width: $mobile-width-only) {
  .main-header__wrapper--closed .main-nav__item {
    display: none;
  }
}

.main-header__wrapper--nojs .main-nav__item {
  display: block;
}

@media (min-width: $tablet-width) {
  .main-header__logo-name {
    display: none;
  }

  .main-header__logo-image {
    width: 174px;
    height: 52px;
  }

  .main-header__wrapper {
    min-height: 76px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header__toggle {
    position: relative;
    display: none;
  }

  .main-header__inner {
    padding: 24px 0 24px;
  }
}

@media (min-width: $dekstop-width) {
  .main-header__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 53px 0 0 0;
  }

  .main-header__inner {
    padding: 0;
  }

  .main-header__logo-image {
    width: 202px;
    height: 59px;
  }
}
