@import "../variables.scss";
@import "../mixins.scss";

.main-container {
  background: url("../img/index-cat/licking-cat.jpg") no-repeat;
  background-position: top;
  background-size: 320px 302px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/index-cat/licking-cat@2x.jpg");
  }
}

.main-container__image {
  display: block;
  margin: 0 auto;
}

.main-container__header {
  padding: 27px 20px 20px;
  min-height: 500px;
  background: linear-gradient(rgba($color-apple, 0.85) 60%, $color-white 60%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-container__title {
  @include font-oswald(36px, 36px);
  text-align: center;
  margin-bottom: 25px;
  color: $color-white;
}

.main-container__slogan {
  @include font-oswald(14px, 14px);
  text-align: center;
  margin-bottom: 29px;
  color: $color-white;
  text-transform: uppercase;
}

.main-container__link {
  @include font-oswald(14px, 18px);
  display: inline-block;
  padding: 10px 10px;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-container {
    background: none;
  }

  .main-container__wrapper {
    padding: 0 30px;
  }

  .main-container__header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px 30px 20px 88px;
    background-image: none;
    min-height: 850px;
    position: relative;
  }

  .main-container__image {
    transform: translateX(-310px);
    top: 235px;
    left: 50%;
    z-index: -1;
    width: 685px;
    height: 609px;
    position: absolute;
  }

  .main-container__title {
    @include font-oswald(60px, 60px);
    text-align: left;
    margin-bottom: 39px;
    color: $color-black;
    width: 500px;
  }

  .main-container__slogan {
    @include font-oswald(20px, 20px);
    text-align: left;
    margin-bottom: 50px;
    color: $color-black;
    text-transform: uppercase;
  }


  .main-container__link {
    @include font-oswald(20px, 20px);
    padding: 14px 20px;
    max-width: 244px;
  }
}

@media (min-width: $dekstop-width) {
  .main-container__wrapper {
    padding: 0;
    margin: 0 auto;
    max-width: 1220px;

    &::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 694px;
      top: 0;
      right: 0;
      background: linear-gradient(rgba($color-apple, 0.85), rgba($color-apple, 0.85)),
        url("../img/index-cat/licking-cat-desktop.jpg") no-repeat center top;
      background-size: cover;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background: linear-gradient(rgba($color-apple, 0.85), rgba($color-apple, 0.85)),
          url("../img/index-cat/licking-cat-desktop@2x.jpg");
        background-size: cover;
      }
    }
  }

  .main-container__slogan {
    margin-bottom: 58px;
  }

  .main-container__image {
    transform: translateX(450px);
    top: 25px;
    left: 0;
    z-index: -1;
    width: 552px;
    height: 499px;
  }

  .main-container__header {
    padding: 100px 80px 80px;
    min-height: 660px;
  }
}
