@import "../variables.scss";

.main-header__wrapper {
  padding: 0 20px;
  position: relative;
}

.main-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-header__wrapper {
    min-height: 76px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main-header__toggle {
    position: relative;
    display: none;
  }

  .main-header__cat-logo {
    margin-right: 12px;
  }
}

@media (min-width: $dekstop-width) {
  .main-header__cat-logo {
    margin-right: 14px;
  }

  .main-header__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    padding: 53px 0 0 0;
  }
}
