.main-nav__wrapper {
  width: 280px;
  position: absolute;
  background-color: #ffffff;
  display: none;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.main-nav__item {
  padding: 23px 15px 23px 15px;
  text-align: center;
}
