@import "../variables.scss";

.main-nav__wrapper {
  width: 280px;
  position: absolute;
  background-color: $color-white;
  // display: none;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.main-nav__link {
  @include font-oswald-medium(20px, 20px);
  text-transform: uppercase;
  color: $color-black;
  text-decoration: none;
}

.main-nav__item {
  padding: 23px 15px 23px 15px;
  text-align: center;
}
