@import "../variables.scss";

.main-footer {
  background-color: $color-concrete;
}

.main-footer__container-color-white {
  background-color: $color-white;
}

.main-footer__wrapper {
  padding: 40px 20px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-concrete;
}

.main-footer__map {
  height: 362px;
}

.main-footer__box {
  min-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer__link-logo-cat {
  margin-bottom: 52px;
}

.main-footer__social {
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
  display: flex;
  column-gap: 24px;
}

.main-footer__contacts {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-footer__map {
    height: 400px;
  }

  .main-footer__container {
    padding: 0 30px;
  }

  .main-footer__contacts {
    padding: 56px 40px;
    display: flex;
  }

  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 57px 30px;
  }

  .main-footer__link-logo-cat {
    margin: 0;
    width: 139px;
  }

  .main-footer__social {
    margin: 0;
    max-width: 300px;
  }

  .main-footer__box {
    min-width: 163px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .main-footer__link-logo-html {
    margin-right: 22px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: $dekstop-width) {
  .main-footer__container {
    position: absolute;
    right: 50%;
    transform: translateX(-10%) translateY(95px);
    padding: 0;
    background-color: $color-white;
  }

  .main-footer__contacts {
    min-width: 565px;
    padding: 56px 80px;
  }

  .main-footer__wrapper {
    margin: 0 auto;
    padding: 57px 0 58px 0;
    max-width: 1220px;
  }
}
