@import "../variables.scss";

.main-footer {
  background-color: $color-concrete;
}

.main-footer__map {
  width: 100%;
  border: 0;
  height: 362px;
}

.main-footer__html-logo-image,
.main-footer__html-academy {
  fill: $color-dove-gray;
}

.main-footer__html-logo {
  fill: $color-tundora;
}

.main-footer__link-logo-html:hover .main-footer__html-logo-image,
.main-footer__link-logo-html:hover .main-footer__html-academy,
.main-footer__link-logo-html:hover .main-footer__html-logo {
  fill: $color-apple;
}

.main-footer__link-logo-html:active .main-footer__html-logo-image,
.main-footer__link-logo-html:active .main-footer__html-academy,
.main-footer__link-logo-html:active .main-footer__html-logo {
  fill: $color-apple;
  opacity: 0.3;
}

.main-footer__container-color-white {
  background-color: $color-white;
}

.main-footer__wrapper {
  padding: 38px 20px 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-concrete;
}

.main-footer__link-logo-html {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer__link-logo-cat {
  margin-bottom: 46px;
}

.main-footer__link-logo-cat:active {
  opacity: 0.6;
}

.main-footer__social {
  margin: 0;
  padding: 0;
  margin-bottom: 43px;
  display: flex;
  column-gap: 24px;
  min-width: 132px;
}

.main-footer__contacts {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.main-footer__html-academy {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-footer__html-logo-image,
  .main-footer__html-logo {
    display: none;
  }

  .main-footer__html-academy {
    display: block;
  }

  .main-footer__map {
    height: 400px;
  }

  .main-footer__container {
    padding: 0 30px;
  }

  .main-footer__contacts {
    padding: 56px 40px 59px;
    display: flex;
  }

  .main-footer__link-logo-cat {
    margin: 0;
    width: 152px;
  }

  .main-footer__social {
    margin: 0;
    max-width: 300px;
  }

  .main-footer__link-logo-html {
    width: 163px;
  }

  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 54px 30px;
  }
}

@media (min-width: $dekstop-width) {
  .main-footer__container {
    position: absolute;
    right: 50%;
    transform: translateX(-10%) translateY(95px);
    padding: 0;
    background-color: $color-white;
  }

  .main-footer__contacts {
    min-width: 565px;
    padding: 56px 80px;
  }

  .main-footer__wrapper {
    margin: 0 auto;
    padding: 57px 0 58px 0;
    max-width: 1220px;
  }
}
