@import "../variables.scss";
@import "../mixins.scss";

.nutrition-program__list {
  padding: 0 20px;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.nutrition-program__item {
  background-color: $color-concrete;
  padding: 30px 33px 22px 20px;
  position: relative;
  min-height: 266px;
  display: flex;
  flex-direction: column;
}

.nutrition-program__item--cat-slim {
  &::before {
    position: absolute;
    top: 21px;
    content: "";
    width: 50px;
    height: 53px;
    background: url("../img/nutrition-program-icon/cat-slim.svg") no-repeat center;
    background-size: contain;
  }
}

.nutrition-program__item--cat-pro {
  &::before {
    position: absolute;
    top: 24px;
    transform: translateX(-9px);
    content: "";
    width: 67px;
    height: 50px;
    background: url("../img/nutrition-program-icon/cat-pro.svg") no-repeat center;
    background-size: contain;
  }
}

.nutrition-program__title {
  @include font-oswald(24px, 37px);
  margin-bottom: 30px;
  text-transform: uppercase;
  padding-left: 71px;
}

.nutrition-program__description {
  @include font-arial(14px, 18px);
  color: $color-tundora;
  padding-bottom: 23px;
  border-bottom: 1px solid $color-alto;
}

.nutrition-program__link {
  @include font-oswald(16px, 16px);
  text-transform: uppercase;
  color: $color-black;
  text-decoration: none;
  position: relative;
  width: 87px;
  box-sizing: content-box;
  padding-right: 38px;
  margin-top: auto;
}

.nutrition-program__arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-6px) scaleX(1);
  transform-origin: center left;
  transition: transform 0.5s;
}

.nutrition-program__link:hover .nutrition-program__arrow {
  transform: translateY(-6px) scaleX(1.4);
}

.nutrition-program__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .nutrition-program__list {
    padding: 0 30px;
    row-gap: 30px;
  }

  .nutrition-program__item {
    padding: 77px 315px 58px 53px;
    min-height: 372px;
  }

  .nutrition-program__item--cat-slim {
    &::before {
      width: 200px;
      height: 211px;
      top: 81px;
      right: 62px;
    }
  }

  .nutrition-program__item--cat-pro {
    &::before {
      width: 268px;
      height: 200px;
      top: 91px;
      right: 28px;
      transform: translateX(0);
    }
  }

  .nutrition-program__title {
    @include font-oswald(36px, 36px);
    text-align: left;
    margin-bottom: 20px;
  }

  .nutrition-program__description {
    @include font-arial(16px, 24px);
    border-bottom: none;
    padding-bottom: 20px;
  }

  .nutrition-program__link {
    @include font-oswald(20px, 30px);
    padding-right: 46px;
    width: 108px;
    margin-top: auto;
  }
}

@media (min-width: $dekstop-width) {
  .nutrition-program__list {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
    gap: 80px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nutrition-program__item {
    max-width: 570px;
    padding: 77px 51px 58px 52px;
  }

  .nutrition-program__item--cat-slim {
    &::before {
      width: 100px;
      height: 106px;
      top: 41px;
      left: 48px;
    }
  }

  .nutrition-program__item--cat-pro {
    &::before {
      width: 134px;
      height: 100px;
      top: 47px;
      left: 33px;
    }
  }

  .nutrition-program__title {
    @include font-oswald(36px, 36px);
    text-align: left;
    padding-left: 165px;
    margin-bottom: 73px;
  }

  .nutrition-program__description {
    @include font-arial(16px, 24px);
    padding-bottom: 20px;
  }
}
