@import "../variables.scss";

.social {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.social__link {
  display: flex;
  min-width: 28px;
  min-height: 22px;
  justify-content: center;
  align-items: center;
}

.social__link-icon {
  fill: $color-dove-gray;
}

.social__link:hover .social__link-icon {
  fill: $color-apple;
}

.social__link:active .social__link-icon {
  fill: rgba($color-apple, 0.3);
}
