@import "../mixins.scss";
@import "../variables.scss";

.stats {
  display: flex;
  justify-content: space-between;
}

.stats__value {
  @include font-oswald(24px, 24px);
  margin-bottom: 7px;
  order: -1;
}

.stats__inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 14px 20px 20px;
  min-width: 124px;
  border-radius: 5px;
  border: 1px solid $color-silver;
  position: relative;
}

.stats__description {
  @include font-arial(12px, 12px);
  color: $color-tundora;
  max-width: 80px;
  position: absolute;
  bottom: -5px;
  left: 17%;
  background-color: $color-gallery;
}

@media (min-width: $tablet-width) {
  .stats__inner {
    min-width: 162px;
  }

  .stats {
    min-width: 366px;
  }

  .stats__value {
    @include font-oswald(30px, 37px);
  }

  .stats__description {
    min-width: 132px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    bottom: -5px;
    left: 7%;
    background-color: $color-white;
  }
}

@media (min-width: $dekstop-width) {
  .stats__description {
    min-width: 132px;
    left: 7%;
    background-color: $color-concrete;
  }
}
