$color-white: #ffffff;
$color-white-transparent: rgb(255, 255, 255, 0.3);
$color-tundora: #444444;
$color-tundora-transparent: rgb(27%, 27%, 27%, 0.3);
$color-cod-gray: #111111;
$color-black: #000000;
$color-dove-gray: #666666;
$color-mine-shaft: #222222;
$color-concrete: #f2f2f2;
$color-apple: #68b738;
$color-apple-dark: #5eaa2f;
$color-gallery: #eaeaea;
$color-silver: #cdcdcd;
$color-silver-two: #bababa;
$color-dov-gray: #666666;
$color-mercury: #e6e6e6;
$color-gallery-two: #ebebeb;
$color-mercury-two: #e7e7e7;
$color-alto: #d9d9d9;
$color-vivid-tangerine: #ff8282;
$color-apple-transparency: rgba(104, 183, 56, 0.85);
$tablet-width: 768px;
$dekstop-width: 1440px;
$mobile-width-only: 767px;
